{% extends "base.html" %}

{% block title %}Albums{% endblock %}

{% block heading %}Albums{% endblock %}

{% block back_button_link %}/music{% endblock %}
{% block back_button_text %}Music{% endblock %}

{% block content %}

<div id="media-pane">
	<table class="table table-bordered">
		<th>Album</th>
		<th>Artist</th>
		{% for album in albums %}
			<tr>
				<td><a href="{{ album.title }}">{{ album.title }}</a></td>
				<td><a href="/music/artists/{{ album.artist }}">{{ album.artist }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}