{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block heading %}Songs{% endblock %}

{% block back_button_link %}/music{% endblock %}
{% block back_button_text %}Music{% endblock %}

{% block content %}

<div id="media-pane">
	<table class="table table-bordered">
		<th>Track</th>
		<th>Artist</th>
		<th>Album</th>
		{% for track in tracks %}
			<tr>
				<td><a href="{{ track.title }}">{{ track.title }}</a></td>
				<td><a href="/music/artists/{{ track.artist }}">{{ track.artist }}</a></td>
				<td><a href="/music/albums/{{ track.album }}">{{ track.album }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}