{% extends "base.html" %}

{% block title %}{{ track_title }}{% endblock %}

{% block header1 %}{{ track_title }}{% endblock %}

{% block head %}

<script type="text/javascript">
	$(document).ready(function() {
		$("#jquery_jplayer_1").jPlayer({
			ready: function() {
				$(this).jPlayer("setMedia", {
					mp3: "{{ site_url }}{{ MEDIA_URL }}{{ track_media_url }}"
				});
			},
			swfPath: "/js",
			supplied: "mp3"
		});
	});
</script>

{% endblock %}

{% block content %}

{% include "player.html" %}

{% endblock %}