h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 42px;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 26px;
	color: #000000;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#media_list {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 26px;
}