{% extends "base.html" %}

{% block title %}Albums – {{ artist_name }}{% endblock %}

{% block heading %}Albums – {{ artist_name }}{% endblock %}

{% block back_button_link %}/music/artists/{{ artist_name }}{% endblock %}
{% block back_button_text %}{{ artist_name }}{% endblock %}

{% block content %}

<div id="media_pane">
	<table class="table table-bordered">
		{% for album in albums %}
			<tr>
				<td><a href="{{ album.title }}">{{ album.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}