{% extends "base.html" %}

{% block title %}Songs – {{ artist_name }}{% endblock %}

{% block heading %}Songs – {{ artist_name }}{% endblock %}

{% block back_button_link %}/music/artists/{{ artist_name }}{% endblock %}
{% block back_button_text %}{{ artist_name }}{% endblock %}

{% block content %}

<div id="media-pane">
	<table class="table table-bordered">
		{% for track in tracks %}
			<tr>
				<td><a href="{{ track.title }}">{{ track.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>


{% endblock %}