{% extends "base.html" %}

{% block title %}Songs – {{ artist_name }}{% endblock %}

{% block header1 %}Songs – {{ artist_name }}{% endblock %}

{% block content %}

<p>
	<a href="/music/artists/{{ artist_name }}">
		<button class="btn btn-medium" type="button">
			<i class="icon-chevron-left"></i>&nbsp;&nbsp;{{ artist_name }}
		</button>
	</a>
</p>

<div id="media_list">
	<table class="table table-bordered">
		{% for track in tracks %}
			<tr>
				<td><a href="{{ track.title }}">{{ track.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>


{% endblock %}