<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<title>MediaThingy – {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		{% block head %}{% endblock %}
	</head>
	<body>	
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="/">MediaThingy</a>
					<div class="nav-collapse collapse">
						<a class="dropdown-toggle navbar-text pull-right" data-toggle="dropdown" href="">
							Upload
						</a>
						<a class="dropdown-menu navbar-text pull-right">
							<form action="/upload_handler/" method="post" enctype="multipart/form-data" id="upload-form"> {% csrf_token %}
								Select a file to upload:<br>
								<input type="file" onchange="this.form.submit(); document.getElementById('upload-success').show();" name="upload">
							</form>
						</a>
						<ul class="nav">
							<li><a href="/music">Music</a></li>
							<li><a href="/pictures">Pictures</a></li>
							<li><a href="/videos">Videos</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
				
		<h2>{% block header1 %}{% endblock %}</h2>
		
		<div id="back-button">
			<a href="{% block back_button_link %}{% endblock %}">
				<button class="btn btn-medium" type="button">
					<i class="icon-chevron-left"></i>&nbsp;&nbsp;{% block back_button_text %}{% endblock %}
				</button>
			</a>
		</div>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{% block content %}{% endblock %}
				</div><!-- /span -->
			</div><!-- /row -->	
			<hr>
		</div><!-- /fluid-container -->
		
		<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>

















