{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header1 %}Home{% endblock %}

{% block col1 %}

<div id="media_list">
	<table>
		<p>
			<a href="music">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Music
				</button>
			</a>
		</p>
		<p>
			<a href="pictures">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Pictures
				</button>
			</a>
		</p>
		<p>
			<a href="videos">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Videos
				</button>
			</a>
		</p>
	</table>
</div>

{% endblock %}