{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block heading %}Home{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div id="media_pane">
	<table>
		<p>
			<a href="music">
				<button class="btn btn-large btn-block btn-primary" type="button">
					<i class="icon-music icon-white"></i>&nbsp;&nbsp;Music
				</button>
			</a>
		</p>
		<p>
			<a href="pictures">
				<button class="btn btn-large btn-block btn-primary" type="button">
					<i class="icon-picture icon-white"></i>&nbsp;&nbsp;Pictures
				</button>
			</a>
		</p>
		<p>
			<a href="videos">
				<button class="btn btn-large btn-block btn-primary" type="button">
					<i class="icon-film icon-white"></i>&nbsp;&nbsp;Videos
				</button>
			</a>
		</p>
	</table>
</div>

{% block scripts %}

<!-- No need for a back button on the home page. -->
<script>
	$(document).ready(function() {
		$("#back-button").hide();
	});
</script>

{% endblock %}

{% endblock %}