{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header1 %}Home{% endblock %}

{% block col1 %}

<div id="media_list">
	<table>
<!-- 		<tr> -->
<!-- 			<td><a href="music" class="btn btn-block">Music</a></td> -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td><a href="pictures" class="btn btn-large">Pictures</a></td> -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td><a href="videos" class="btn btn-large">Videos</a></td> -->
<!-- 		</tr> -->
		<button class="btn btn-large btn-block btn-primary" type="button">
			<a href="music">Music</a>
		</button>
		<button class="btn btn-large btn-block btn-primary" type="button">
			<a href="pictures">Pictures</a>
		</button>
		<button class="btn btn-large btn-block btn-primary" type="button">
			<a href="videos">Videos</a>
		</button>
	</table>
</div>

{% endblock %}