{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block header1 %}Music{% endblock %}

{% block content %}

<p>
	<a href="/">
		<button class="btn btn-medium" type="button">
			<i class="icon-chevron-left"></i>&nbsp;&nbsp;Home
		</button>
	</a>
</p>

<div id="media_list">
	<table>
		<p>
			<a href="artists">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Artists
				</button>
			</a>
		</p>
		<p>
			<a href="albums">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Albums
				</button>
			</a>
		</p>
		<p>
			<a href="songs">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Songs
				</button>
			</a>
		</p>
	</table>
</div>
{% endblock %}

