{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block heading %}Music{% endblock %}

{% block back_button_link %}/{% endblock %}
{% block back_button_text %}Home{% endblock %}

{% block content %}

<div id="media_pane">
	<table>
		<p>
			<a href="artists">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Artists
				</button>
			</a>
		</p>
		<p>
			<a href="albums">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Albums
				</button>
			</a>
		</p>
		<p>
			<a href="songs">
				<button class="btn btn-large btn-block btn-primary" type="button">
					Songs
				</button>
			</a>
		</p>
	</table>
</div>
{% endblock %}

