{% extends "base.html" %}

{% block title %}{{ album_title }} – {{ artist_name_split }}{% endblock %}

{% block header1 %}{{ album_title }} – {{ artist_name_split }}{% endblock %}

{% block back_button_link %}/music/artists/{{ artist_name_split }}{% endblock %}
{% block back_button_text %}{{ artist_name_split }}{% endblock %}

{% block content %}

<div id="media_list">
	<table class="table table-bordered">
		{% for album_track in album_tracks %}
			<tr>
				<td><a href="{{ album_track }}">{{ album_track }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}