{% extends "base.html" %}

{% block title %}{{ artist_name }}{% endblock %}

{% block header1 %}{{ artist_name }}{% endblock %}

{% block content %}
<h2><a href="albums">Albums</a></h2>

<div id="media_list">
	<table class="table table-bordered">
		{% for album in albums %}
			<tr>
				<td><a href="albums/{{ album.title }}">{{ album.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<br />

<h2><a href="songs">Songs</a></h2>

<div id="media_list">
	<table class="table table-bordered">
		{% for track in tracks %}
			<tr>
				<td><a href="songs/{{ track.title }}">{{ track.title }}</a></td>
				<td><audio src=""></audio></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}