{% extends "base.html" %}

{% block title %}{{ artist_name }}{% endblock %}

{% block heading %}{{ artist_name }}{% endblock %}

{% block back_button_link %}/music/artists{% endblock %}
{% block back_button_text %}Artists{% endblock %}

{% block content %}

<h3><a href="albums">Albums</a></h3>

<div id="media-pane">
	<table class="table table-bordered">
		{% for album in albums %}
			<tr>
				<td><a href="albums/{{ album.title }}">{{ album.title }}</a></td>
			</tr>
		{% endfor %}
	</table>

	<h3><a href="songs">Songs</a></h3>

	<table class="table table-bordered">
		{% for track in tracks %}
			<tr>
				<td><a href="songs/{{ track.title }}">{{ track.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}