{% extends "base.html" %}

{% block title %}{{ track_title }} – {{ artist_name }}{% endblock %}

{% block header1 %}{{ track_title }} – {{ artist_name }}{% endblock %}

{% block content %}

<p>
	<a href="/music/artists/{{ artist_name }}">
		<button class="btn btn-medium" type="button">
			<i class="icon-chevron-left"></i>&nbsp;&nbsp;{{ artist_name }}
		</button>
	</a>
</p>

<div id="media_list">
	<table>
			<audio src="{{ track.media_url }}" controls="controls"></audio>
	</table>
</div>

{% endblock %}