{% extends "base.html" %}

{% block title %}{{ album_title }} – {{ artist_name }}{% endblock %}

{% block head %}{% endblock %}

{% block heading %}{{ album_title }} – {{ artist_name }}{% endblock %}

{% block back_button_link %}/music/albums{% endblock %}
{% block back_button_text %}Albums{% endblock %}

{% block content %}

<div id="media-pane">
	<table class="table table-bordered">
		{% for album_track in album_tracks %}
			<tr>
				<td><a href="{{ album_track.title }}">{{ album_track.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}