{% extends "base.html" %}

{% block title %}{{ album_title }} – {{ artist_name }}{% endblock %}

{% block head %}

<script type="text/javascript">
	$(document).ready(function() {
		$("#jquery_jplayer_1").jPlayer({
			ready: function() {
				$(this).jPlayer("setMedia", {
					mp3: "{{ site_url }}{{ track.media_url }}"
				});
			},
			swfPath: "/js",
			supplied: "mp3"
		});
	});
</script>

{% endblock %}

{% block header1 %}{{ album_title }} – {{ artist_name }}{% endblock %}

{% block content %}

<p>
	<a href="/music/albums">
		<button class="btn btn-medium" type="button">
			<i class="icon-chevron-left"></i>&nbsp;&nbsp;Albums
		</button>
	</a>
</p>

<div id="media_list">
	<table class="table table-bordered">
		{% for album_track in album_tracks %}
			<tr>
				<td><a href="{{ album_track.title }}">{{ album_track.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}