{% extends "base.html" %}

{% block title %}{{ picture_name }}{% endblock %}

{% block heading %}{{ picture_name }}{% endblock %}

{% block head %}{% endblock %}

{% block back_button_link %}/pictures{% endblock %}
{% block back_button_text %}Pictures{% endblock %}

{% block content %}

<div id="media_pane">
	{% if picture.media_url %}
		<div id="picture"><img src="{{ picture.media_url }}"></img></div>
	{% else %}
		Error: No such file found.
	{% endif %}
</div>

<div class="btn-group">
	<a id="rotateAnticlockwiseButton" class="btn btn-primary">
		<img src="{{ STATIC_URL}}img/rotate_anticlockwise.png" />
	</a>
	<a id="rotateClockwiseButton" class="btn btn-primary">
		<img src="{{ STATIC_URL}}img/rotate_clockwise.png" />
	</a>
</div>

{% block scripts %}

<script>
	/*
	 *  Script to rotate an image using CSS3.
	 */
	var rotateOrientation = 0; // 0=neutral; 1=rotated clockwise; -1=rotated anti-clockwise
	$(document).ready(function() {
		$("#rotateClockwiseButton").click(function() {
			if (rotateOrientation == 0) {
				$("#media_pane").css({
					"-webkit-transform-origin": "50% 50%",
					"-webkit-transform": "rotate(90deg)",
					"-moz-transform": "rotate(90deg)"
				});
				rotateOrientation = 1;
			}
			else if (rotateOrientation == -1) {
				$("#media_pane").css({
					"-webkit-transform-origin": "50% 50%",
					"-webkit-transform": "rotate(0deg)",
					"-moz-transform": "rotate(0deg)"
				});
				rotateOrientation = 0;
			}
		});
	
		$("#rotateAnticlockwiseButton").click(function() {
			if (rotateOrientation == 0) {
				$("#media_pane").css({
					"-webkit-transform-origin": "54% 54%",
					"-webkit-transform": "rotate(-90deg)",
					"-moz-transform": "rotate(-90deg)"
				});
				rotateOrientation = -1;
			}
			else if (rotateOrientation == 1) {
				$("#media_pane").css({
					"-webkit-transform-origin": "50% 50%",
					"-webkit-transform": "rotate(0deg)",
					"-moz-transform": "rotate(0deg)"
				});
				rotateOrientation = 0;
			}
		});
	});
</script>

{% endblock %}

{% endblock %}

