{% extends "base.html" %}

{% block title %}{{ picture_title }}{% endblock %}

{% block header1 %}{{ picture_title }}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div id="media_list">
	<table>
			<div id="picture"><img src="{{ MEDIA_URL }}{{ picture_media_url }}"></img></div>
	</table>
</div>

<div class="btn-group">
	<a id="rotateAnticlockwiseButton" class="btn btn-primary">
		<img src="{{ STATIC_URL}}img/rotate_anticlockwise.png" />
	</a>
	<a id="rotateClockwiseButton" class="btn btn-primary">
		<img src="{{ STATIC_URL}}img/rotate_clockwise.png" />
	</a>
</div>

{% block scripts %}

<script>
	$(document).ready(function() {
		$("#rotateClockwiseButton").click(function() {
			$("#media_list").css({
				"-webkit-transform-origin": "50% 50%",
				"-webkit-transform": "rotate(90deg)",
				"-moz-transform": "rotate(90deg)"
			});
		});
	});
	
	$(document).ready(function() {
		$("#rotateAnticlockwiseButton").click(function() {
			$("#media_list").css({
				"-webkit-transform-origin": "50% 50%",
				"-webkit-transform": "rotate(-90deg)",
				"-moz-transform": "rotate(-90deg)"
			});
		});
	});
</script>

{% endblock %}

{% endblock %}

